.form-group input {
    text-align: center;
    border-radius: 0;
    padding: 20px 0px;
}
.form-group{
	margin-bottom: -1px;
}
.btnsignup{
	background-color: #d80f0f;
	border-radius: 0;
	color: white;
}
form .form-group input[type="email"] {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
button.btn.form-control.btn-default.btnsignup {
    height: 45px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.forgottext p:first-child {
    padding: 20px 0px 0px 0px;
    color: #d80f0f;
}
.forgottext p{
	cursor: pointer;
}