<div class="sidenav">
<ul>
	<li>
	  <a routerLink="./"><p href="#"><i class="fa fa-th-large" aria-hidden="true"></i> Dashboard </p> </a>
	</li>
	<li>
	  <a routerLink="patnership/"><p href="#"><i class="fa fa-th-large" aria-hidden="true"></i> Patnership </p> </a>
	</li>
	<li>
	  <a routerLink="payment/"> <p><i class="fa fa-th-large" aria-hidden="true"></i> Payment</p> </a>
	</li>
	<li>
	  <a routerLink="reporting/"> <p><i class="fa fa-th-large" aria-hidden="true"></i> Reporting </p> </a>
	</li>
	  
</ul>
</div>

